@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

a {
  text-decoration: none;
  color: inherit;
 } 
.imagemTema{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 90vh;
  opacity: 0.8;

}

.header{
 
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  background-color: darkkhaki;
  justify-content: space-around;
 

}
#bonsDrinks{
  font-family: 'Dancing Script', cursive;
  font-size: 52px;

}
#geral{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 52px;

}
.container {
  display: grid;
  margin-top: 15vh;
  margin-left: 15vh;
  grid-template-columns: repeat(2, 2fr);
  font-family: 'Crimson Text', serif;
  grid-template-columns: repeat(2, 2fr);
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.rodape {
  position:absolute;
  background-color: darkkhaki;
  bottom:0;
  height: 50px;
  width:100%;

}


p{
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  text-align: center;
  
}
